{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'main.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'auxiliary.min.css' %}" type="text/css">
    <link rel="shortcut icon" type="image/png" href="{% static 'assets/lok.svg' %}"/>
  <title>DVZO.app</title>
</head>
<body>
<div class="login-body"></div>
<div class="login-grad"></div>
<div class="login-login">
  <div class="login-header">dvzo<span>.app</span></div>

  <br>
  <form method="post">{% csrf_token %}
    <input id="login-username" type="text" name="username" placeholder="Username" required="true">
    <input id="login-password" type="password" name="password" placeholder="Password" required="true">
    <input id="login-submit" type="submit" name="submit" value="Login">
  </form>
</div>

</body>
</html>
