{% load static compress %}
{% load sass_tags %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% compress css %}
  <link href="{% sass_src 'css/login.scss' %}" rel="stylesheet" type="text/css"/>
  {% endcompress %}
  <title>DVZO.app</title>
</head>
<body>
<div class="body"></div>
<div class="grad"></div>
<div class="login">
  <div class="header">dvzo<span>.app</span></div>

  <br>
  <form method="post">{% csrf_token %}
    <input id="login-username" type="text" name="username" placeholder="Username" required="true">
    <input id="login-password" type="password" name="password" placeholder="Password" required="true">
    <input id="login-submit" type="submit" name="submit" value="Login">
  </form>
</div>

</body>
</html>
