{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate "template.availability.list.title" %}{% endblock %}

{% block content %}
<div class="dvzo-container">

  <div class="dvzo-header">
    {% translate "template.availability.list.header" %}
  </div>

  <div class="dvzo-content">
    <div class="row">
      <div class="col">
        <div class="card my-2">
          <div class="card-body">
            <div class="card-text">
              <table
                id="availabilityListTable"
                data-toggle="table"
                data-classes="table table-hover table-condensed"
                data-striped="true"
                data-locale="de-DE"
                data-search="true"
                data-sort-name="label"
                data-sort-order="asc"
                data-pagination="true"
                data-page-size="15"
                data-page-list="[15, 25, 50, 100, 200, All]"
              >
                <thead>
                <tr>
                  <th data-field="state" data-checkbox="true">{% translate "table.state" %}</th>
                  <th data-field="id" data-visible="false">{% translate "table.id" %}</th>
                  <th data-field="dayplanning" data-sortable="true">{% translate "template.availability.dayplanning" %}</th>
                  <th data-field="vehicle" data-sortable="true">{% translate "template.availability.vehicle" %}</th>
                  <th data-field="start" data-sortable="true">{% translate "template.availability.start" %}</th>
                  <th data-field="end" data-sortable="false">{% translate "template.availability.end" %}</th>
                  <th data-field="availability_status" data-sortable="false">{% translate "template.availability.availability_status" %}</th>
                  <th data-field="actions" data-sortable="false"></th>
                </tr>
                </thead>
                <tbody>
                {% for availability in availabilities %}
                <tr>
                  <td></td>
                  <td>{{ availability.id }}</td>
                  <td>{{ availability.dayplanning }}</td>
                  <td>{{ availability.vehicle }}</td>
                  <td>{{ availability.start }}</td>
                  <td>{{ availability.end }}</td>
                  <td>{{ availability.get_availability_status_display }}</td>
                  <td>
                    <a href='{% url "availability-delete" pk=availability.id %}'>
                      <i class="fas fa-trash-alt text-danger"></i>
                    </a>&nbsp;
                  </td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="dvzo-buttons-bottom">
          <button id="daySelectionBtn" class="btn btn-secondary btn-sm disabled">tmpGetSelections</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var $table = $('#availabilityListTable');
  var $button = $('#daySelectionBtn');

  $(function() {
      $button.click(function () {
          alert('getSelections: ' + JSON.stringify($table.bootstrapTable('getSelections')))
        })
    })



</script>
{% endblock content %}
