{% extends "base.html" %}
{% load i18n %}


{% block title %}Dashboard{% endblock %}
{% block header_scripts %}
<script src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.6.0/main.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.6.0/main.min.css">

<script>

      document.addEventListener('DOMContentLoaded', function() {
  var calendarEl = document.getElementById('calendar');

  var calendar = new FullCalendar.Calendar(calendarEl, {
    schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
    locale: 'de',
    timeZone: 'UTC',
    slotLabelFormat: [
      { day: '2-digit' }
    ],
    initialView: 'resourceTimelineMonth',
    resourceAreaWidth: '20%',
    aspectRatio: 1.5,
    editable: true,
    resourceAreaHeaderContent: 'Fahrzeuge',
    resourceOrder: 'title',
    resourceGroupField: 'vehicleType',
    resources: '/calendar/resource_data',
    events: '/calendar/event_data'
  });

  calendar.render();
});



</script>

{% endblock header_scripts %}
{% block content %}


<div class="dvzo-header">
  {% translate "Calendar" %}
</div>

<div class="dvzo-content">
  <div class="row">
    <div class="col">
      <div class="card my-2">
        <div class="card-body">
          <div class="card-text">
            <div id="calendar">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
