{% extends "base.html" %}
{% load i18n %}


{% block title %}Dashboard{% endblock %}
{% block header_scripts %}

{% endblock header_scripts %}
{% block content %}


<div class="dvzo-header">
  {% translate "Calendar" %}
</div>

<div class="dvzo-content">
  <div class="row">
    <div class="col">
      <div class="card my-2">
        <div class="card-body">
          <div class="card-text">
            <div id="calendar">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
