{% extends "base.html" %}
{% load i18n %}

{% block title %} {% translate "template.dashboard.title" %} {% endblock %}

{% block content %}
<h1>{% translate "template.dashboard.header" %}</h1>

<div class="container white-container">
  <h2>Was ist neu?</h2>
  <ul>
    <li>
      Erstellen und bearbeiten von <a href="{% url 'day-planning-list' %}">Tagesplanungen.</a>
      <ul>
        <li>Züge können mit Formation hinzugefügt und bearbeitet werden.</li>
        <li>Funktionen können hinzugefügt und bearbeitet werden.</li>
        <li>Das Briefing kann erstellt werden.</li>
      </ul>
    </li>
  </ul>
</div>

{% endblock content %}
