{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h1>{% translate "Day Planning" %}</h1>

<button id="button" class="btn btn-secondary">getSelections</button>

<table
  id="dashboardTable"
  class="table table-striped table-hover"
  data-sort-name="date"
  data-sort-order="asc"
  >
  <thead>
    <tr>
      <th data-field="state" data-checkbox="true">ID</th>
      <th data-field="id" data-sortable="true">ID</th>
      <th data-field="label" data-sortable="true">{% translate "Label" %}</th>
      <th data-field="date" data-sortable="true">{% translate "Date" %}</th>
      <th data-field="type" data-sortable="true">{% translate "Type" %}</th>
      <th data-field="vehicles" data-sortable="false">{% translate "Vehicles" %}</th>
    </tr>
  </thead>
</table>

<button id="button" class="btn btn-secondary">{% translate "New day planning" %}</button>

<script>
  var $table = $('#dashboardTable');
  var $button = $('#button');

  function remoddleData(data) {
    dataOut = [];
    data.forEach((day) => {
        vehicleHtml = ""
        day.vehicles.forEach((vehicle) => {
          if (vehicle.vehicle_type === "carriage") {
            vehicleHtml += `<span class="badge bg-warning">${vehicle.vehicle_label}</span>&ensp;`;
          } else if (vehicle.vehicle_type === "engine") {
            vehicleHtml += `<span class="badge bg-success">${vehicle.vehicle_label}</span>&ensp;`;
          } else {
            console.log("unknown vehicle type");
          }
        });
        day.vehicles = vehicleHtml;
        dataOut.push(day);
    });
    return dataOut;
  }

  $(function() {
    $.ajax({url: "day-plannings", success: function(result){

      $table.bootstrapTable({data: remoddleData(result)})
    }});
  })

  $(function() {
    $button.click(function () {
      alert('getSelections: ' + JSON.stringify($table.bootstrapTable('getSelections')))
    })
  })
</script>
{% endblock content %}
