{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="container">
  <h1>{{ object.label }}</h1>
  <div class="container white-container">
    <a href='{% url "day-planning-list" %}' class="btn btn-primary">
      <i class="fas fa-list"></i>
      {% translate "Back to list" %}
    </a>
    <a href="#" class="btn btn-primary disabled">
      <i class="fas fa-print"></i>
      {% translate "Briefing" %}
    </a>
  </div>
  <div class="row row-cols-lg-2">
    <div class="col">
      <div class="container white-container">

        <h2>{% translate "Stammdaten" %}</h2>
        <table class="table table-sm dvzo-50">
          <thead>
          <th></th>
          <th></th>
          </thead>
          <tbody>
          <tr>
            <th>Datum</th>
            <td>{{object.date}}</td>
          </tr>
          <tr>
            <th>Typ</th>
            <td>{{object.get_day_planning_type_display}}</td>
          </tr>
          <tr>
            <th>Status</th>
            <td>{{object.get_status_display}}</td>
          </tr>
          <tr>
            <th>Bezahlt</th>
            <td>{% if object.paid == True %} {% translate "Yes" %} {% else %} {% translate "No" %} {% endif %}</td>
          </tr>
          <tr>
            <th>Text</th>
            <td>{{object.text}}</td>
          </tr>
          </tbody>
        </table>


        <a href='{% url "day-planning-update" pk=object.id %}' class="btn btn-primary">
          <i class="far fa-edit"></i>
          {% translate "Edit master data" %}
        </a>
        <a href='{% url "train-composition-create" pk=object.id %}' class="btn btn-primary">
          <i class="fas fa-plus"></i>
          {% translate "Add new train" %}
        </a>
      </div>
    </div>

    <div class="col">
      <div class="container white-container">
        <h2>{% translate "Functions" %}</h2>
        <h3>{% translate "Hinwil" %}</h3>
        <table class="table table-sm dvzo-50">
          <thead>
          <th>Funktion</th>
          <th>Person</th>
          </thead>
          <tbody>
          {% if object.dayplanningfunction.sales_hi.all|length > 0 %}
              <tr>
                <td>Verkauf</td>
                <td>
                  {% for person in object.dayplanningfunction.sales_hi.all %}
                  {{person}}<br>
                  {% endfor %}
                </td>
              </tr>
          {% endif %}
          </tbody>
        </table>

        <h3>{% translate "Bäretswil" %}</h3>
        <table class="table table-sm dvzo-50">
          <thead>
          <th>Funktion</th>
          <th>Person</th>
          </thead>
          <tbody>
          {% if object.dayplanningfunction.coordinator_baew.all|length > 0 %}
              <tr>
                <td>Koordinator</td>
                <td>
                  {% for person in object.dayplanningfunction.coordinator_baew.all %}
                  {{person}}<br>
                  {% endfor %}
                </td>
              </tr>
          {% endif %}
          {% if object.dayplanningfunction.station_baew.all|length > 0 %}
              <tr>
                <td>Stationswärter</td>
                <td>
                  {% for person in object.dayplanningfunction.station_baew.all %}
                  {{person}}<br>
                  {% endfor %}
                </td>
              </tr>
          {% endif %}
          {% if object.dayplanningfunction.barrier_baew.all|length > 0 %}
              <tr>
                <td>Barrierenwärter</td>
                <td>
                  {% for person in object.dayplanningfunction.barrier_baew.all %}
                  {{person}}<br>
                  {% endfor %}
                </td>
              </tr>
          {% endif %}
          </tbody>
        </table>
        <h3>{% translate "Neuthal" %}</h3>
        <table class="table table-sm dvzo-50">
          <thead>
          <th>Funktion</th>
          <th>Person</th>
          </thead>
          <tbody>
          {% if object.dayplanningfunction.barrier_neu.all|length > 0 %}
              <tr>
                <td>Barrierenwärter</td>
                <td>
                  {% for person in object.dayplanningfunction.barrier_neu.all %}
                  {{person}}<br>
                  {% endfor %}
                </td>
              </tr>
          {% endif %}
          </tbody>
        </table>
        <h3>{% translate "Bauma" %}</h3>
        <table class="table table-sm dvzo-50">
          <thead>
          <th>Funktion</th>
          <th>Person</th>
          </thead>
          <tbody>
          {% if object.dayplanningfunction.coordinator_bma.all|length > 0 %}
              <tr>
                <td>Koordinator</td>
                <td>
                  {% for person in object.dayplanningfunction.coordinator_bma.all %}
                  {{person}}<br>
                  {% endfor %}
                </td>
              </tr>
          {% endif %}
          {% if object.dayplanningfunction.station_bma.all|length > 0 %}
              <tr>
                <td>Stationswärter</td>
                <td>
                  {% for person in object.dayplanningfunction.station_bma.all %}
                  {{person}}<br>
                  {% endfor %}
                </td>
              </tr>
          {% endif %}
          {% if object.dayplanningfunction.barrier_bma.all|length > 0 %}
              <tr>
                <td>Barrierenwärter</td>
                <td>
                  {% for person in object.dayplanningfunction.barrier_bma.all %}
                  {{person}}<br>
                  {% endfor %}
                </td>
              </tr>
          {% endif %}
          {% if object.dayplanningfunction.engine_assistant_bma.all|length > 0 %}
              <tr>
                <td>Lokbetreuer</td>
                <td>
                  {% for person in object.dayplanningfunction.engine_assistant_bma.all %}
                  {{person}}<br>
                  {% endfor %}
                </td>
              </tr>
          {% endif %}
          {% if object.dayplanningfunction.food_bma.all|length > 0 %}
              <tr>
                <td>Rottenwagen</td>
                <td>
                  {% for person in object.dayplanningfunction.food_bma.all %}
                  {{person}}<br>
                  {% endfor %}
                </td>
              </tr>
          {% endif %}
          </tbody>
        </table>
        {% if object.dayplanningfunction %}
          <a href='{% url "dayplanning-function-update" pk=object.dayplanningfunction.id %}' class="btn btn-primary">
            <i class="far fa-edit"></i>
            {% translate "Edit functions" %}
        </a>
        {% else %}
          <a href='{% url "dayplanning-function-create" pk=object.id %}' class="btn btn-primary">
            <i class="far fa-edit"></i>
            {% translate "Add functions" %}
          </a>
        {% endif %}
      </div>

    </div>
  </div>
  <div class="row row-cols-lg-2">
    {% for train in object.train_set.all %}
    <div class="col">
      <div class="container white-container">
        <h2>{{train.label}}</h2>
        <h3>Formation</h3>
        {% include 'includes/train.html'%}
        {% if train.trainfunction %}
          <table class="table table-sm dvzo-25">
            <thead>
            <th>Funktion</th>
            <th>Person</th>
            </thead>
            <tbody>
            {% if train.trainfunction.driver.all|length > 0 %}
              <tr>
                <td>Lokführer</td>
                <td>
                  {% for person in train.trainfunction.driver.all %}
                  {{person}}<br>
                  {% endfor %}
                </td>
              </tr>
            {% endif %}
            {% if train.trainfunction.stoker_early.all|length > 0 %}
              <tr>
                <td>Heizer früh</td>
                <td>
                  {% for person in train.trainfunction.stoker_early.all %}
                  {{person}}<br>
                  {% endfor %}
                </td>
              </tr>
            {% endif %}
            {% if train.trainfunction.stoker_middle.all|length > 0 %}
              <tr>
                <td>Heizer mittel</td>
                <td>
                  {% for person in train.trainfunction.stoker_middle.all %}
                  {{person}}<br>
                  {% endfor %}
                </td>
              </tr>
            {% endif %}
            {% if train.trainfunction.stoker_late.all|length > 0 %}
              <tr>
                <td>Heizer spät</td>
                <td>
                  {% for person in train.trainfunction.stoker_late.all %}
                  {{person}}<br>
                  {% endfor %}
                </td>
              </tr>
            {% endif %}
            {% if train.trainfunction.accomp_z.all|length > 0 %}
              <tr>
                <td>Zugchef</td>
                <td>
                  {% for person in train.trainfunction.accomp_z.all %}
                  {{person}}<br>
                  {% endfor %}
                </td>
              </tr>
            {% endif %}
            {% if train.trainfunction.accomp_k.all|length > 0 %}
              <tr>
                <td>Kondukteur</td>
                <td>
                  {% for person in train.trainfunction.accomp_k.all %}
                  {{person}}<br>
                  {% endfor %}
                </td>
              </tr>
            {% endif %}
            {% if train.trainfunction.accomp_b.all|length > 0 %}
              <tr>
                <td>Kundenbegleiter</td>
                <td>
                  {% for person in train.trainfunction.accomp_b.all %}
                  {{person}}<br>
                  {% endfor %}
                </td>
              </tr>
            {% endif %}
            {% if train.trainfunction.shunting.all|length > 0 %}
              <tr>
                <td>Rangierbegliter</td>
                <td>
                  {% for person in train.trainfunction.shunting.all %}
                  {{person}}<br>
                  {% endfor %}
                </td>
              </tr>
            {% endif %}
            {% if train.trainfunction.gastro.all|length > 0 %}
              <tr>
                <td>Gastro</td>
                <td>
                  {% for person in train.trainfunction.gastro.all %}
                  {{person}}<br>
                  {% endfor %}
                </td>
              </tr>
            {% endif %}
            </tbody>
          </table>
        {% endif %}
        <table class="table table-sm dvzo-25">
          <thead>
          <th>Fahrt</th>
          <th></th>
          </thead>
          <tbody>
          <tr>
            <td><a href="#" class="badge bg-secondary">428K</a></td>
            <td>
              <span class="fw-bold">BMA</span>
              - <span class="fst-italic">NEU</span>
              - BAEW - (BAET) - <span class="fst-italic">ETH</span>
              - <span class="fw-bold">HI</span>
            </td>
          </tr>
          <tr>
            <td><a href="#" class="badge bg-secondary">431K</a></td>
            <td>
              <span class="fw-bold">HI</span>
              - <span class="fst-italic">ETH</span>
              - (BAET) - BAEW - <span class="fst-italic">NEU</span>
              - <span class="fw-bold">BMA</span>
            </td>
          </tr>
          <tr>
            <td><a href="#" class="badge bg-secondary">450K</a></td>
            <td>
              <span class="fw-bold">BMA</span>
              - <span class="fst-italic">NEU</span>
              - BAEW - (BAET) - <span class="fst-italic">ETH</span>
              - <span class="fw-bold">HI</span>
            </td>
          </tr>
          <tr>
            <td><a href="#" class="badge bg-secondary">453K</a></td>
            <td>
              <span class="fw-bold">HI</span>
              - <span class="fst-italic">ETH</span>
              - (BAET) - BAEW - <span class="fst-italic">NEU</span>
              - <span class="fw-bold">BMA</span>
            </td>
          </tr>
          <tr>
            <td><a href="#" class="badge bg-secondary">460K</a></td>
            <td>
              <span class="fw-bold">BMA</span>
              - <span class="fst-italic">NEU</span>
              - BAEW - (BAET) - <span class="fst-italic">ETH</span>
              - <span class="fw-bold">HI</span>
            </td>
          </tr>
          <tr>
            <td><a href="#" class="badge bg-secondary">463K</a></td>
            <td>
              <span class="fw-bold">HI</span>
              - <span class="fst-italic">ETH</span>
              - (BAET) - BAEW - <span class="fst-italic">NEU</span>
              - <span class="fw-bold">BMA</span>
            </td>
          </tr>

          </tbody>
        </table>
        <a href='{% url "train-composition-update" pk=train.id %}' class="btn btn-primary">
          <i class="far fa-edit"></i>
          {% translate "Edit train" %}
        </a>
        {% if train.trainfunction %}
          <a href='{% url "train-function-update" pk=train.trainfunction.id %}' class="btn btn-primary">
            <i class="far fa-edit"></i>
            {% translate "Edit functions" %}
        </a>
        {% else %}
          <a href='{% url "train-function-create" pk=train.id %}' class="btn btn-primary">
            <i class="far fa-edit"></i>
            {% translate "Add functions" %}
          </a>
        {% endif %}

        <a href='#' class="btn btn-primary">
          <i class="far fa-edit"></i>
          {% translate "Edit schedule" %}
        </a>
      </div>
    </div>
    {% empty %}
    {% endfor %}

  </div>
</div>

{% endblock content %}
