{% extends "base.html" %}
{% load i18n %}
{% load tapeforms %}

{% block content %}

<div class="container">
  <h1>{% translate "New Day Planning" %}</h1>
    <form method="post">
      {% csrf_token %}
      {% for fieldset in form.get_fieldsets %}
        <div class="container white-container">
          <h3>{{ fieldset.extra.title }}</h3>
          {% form fieldset %}
        </div>
      {% endfor %}
      <input type="submit" value="Submit" class="btn btn-primary">
    </form>
  </div>
</div>

{% endblock content %}
