{% extends "base.html" %}
{% load i18n %}
{% load tapeforms %}

{% block title %}{% translate "template.dayplanning_text.update.title" %}{% endblock %}

{% block content %}

<div class="dvzo-container">

  <div class="dvzo-header">
    {% if object %}
    {{ object.label }}
    {% else %}
    {% translate "template.dayplanning_text.update.header" %}
    {% endif %}
  </div>

  <div class="dvzo-content">
    <div class="row">
      <div class="col">
        <form action="" method="post" novalidate>
          <div class="card my-2">
            <div class="card-body">
              <div class="card-text">
                {% csrf_token %}
                {% form form %}
              </div>
            </div>
            {% include 'includes/card_footer.html' %}
          </div>
          <div class="dvzo-buttons-bottom">
            <input type="submit" value="{% translate 'template.dayplanning_text.submit' %}" class="btn btn-primary btn-sm">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
