{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
  <h1>{% translate "Day Planning" %}</h1>

  <div class="container white-container">
    <table
      id="dayPlanningListTable"
      data-toggle="table" 
      data-classes="table table-hover table-condensed"
      data-striped="true"
      data-locale="de-DE"
      data-search="true"
      data-sort-name="date"
      data-sort-order="asc"
      data-pagination="true"
      data-page-size="15"
      data-page-list="[15, 25, 50, 100, 200, All]"
      >
      <thead>
        <tr>
          <th data-field="state" data-checkbox="true">State</th>
          <th data-field="id" data-visible="false">ID</th>
          <th data-field="label" data-sortable="true">{% translate "Label" %}</th>
          <th data-field="date" data-sortable="true">{% translate "Date" %}</th>
          <th data-field="type" data-sortable="true">{% translate "Type" %}</th>
          <th data-field="vehicles" data-sortable="false">{% translate "Vehicles" %}</th>
          <th data-field="actions" data-sortable="false"></th>
        </tr>
      </thead>
      <tbody>
        {% for day_planning in day_plannings %}
        <tr>
          <td></td>
          <td>{{ day_planning.id }}</td>
          <td>{{ day_planning.label }}</td>
          <td>{{ day_planning.date }}</td>
          <td>{{ day_planning.get_day_planning_type_display }}</td>
          <td>
            {% for train in day_planning.train_set.all %}
                {% include 'includes/train.html' train=train only %}
            <br>
            {% endfor %}
          </td>
          <td>
            {% if perms.train_management.delete_dayplanning %}
            <a href='{% url "day-planning-delete" pk=day_planning.id %}'>
              <span class="material-icons">delete</span>
            </a>
            {% endif %}
            {% if perms.train_management.change_dayplanning %}
            <a href='{% url "day-planning-detail" pk=day_planning.id %}'>
              <span class="material-icons">edit</span>
            </a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br>
    {% if perms.train_management.add_dayplanning %}
    <a href='{% url "day-planning-create" %}' class="btn btn-secondary" >{% translate "New day planning" %}</a>
    {% endif %}
    <button id="daySelectionBtn" class="btn btn-secondary">tmpGetSelections</button>
  </div>
</div>

<script>
  var $table = $('#dayPlanningListTable');
  var $button = $('#daySelectionBtn');

  $(function() {
      $button.click(function () {
          alert('getSelections: ' + JSON.stringify($table.bootstrapTable('getSelections')))
        })
    })
</script>
{% endblock content %}
