{% extends "base.html" %}
{% load i18n %}
{% load tapeforms %}

{% block title %}{% translate "template.dayplanning_text.update.title" %}{% endblock %}

{% block content %}

<div class="dvzo-container">

  <div class="dvzo-header">
    {% if object %}
    {{ object.label }}
    {% else %}
    {% translate "template.dayplanning_text.update.header" %}
    {% endif %}
  </div>

  <div class="dvzo-content">
    <div class="row">
      <div class="col">
        <form action="" method="post">
          <div class="card my-2">
            <div class="card-body">
              <div class="card-text">
                {% csrf_token %}
                {% form form %}
              </div>
            </div>
          </div>
          <div class="dvzo-buttons-bottom">
            <input type="submit" value="{% translate 'template.dayplanning_text.submit' %}" class="btn btn-primary btn-sm">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block scripts %}
<script>
  tinymce.init({
    height: '600px',
    selector: '#id_text',
    plugins: 'advlist lists charmap template table',
    menubar: 'edit insert format tools table',
    toolbar: 'undo redo | bold italic underline strikethrough | fontsizeselect formatselect | alignleft aligncenter ' +
      'alignright alignjustify | outdent indent | table | numlist bullist checklist | forecolor backcolor removeformat' +
      ' | charmap | template',
    custom_undo_redo_levels: 10,
    templates: [{
      title: 'Abstellplanung',
      description: 'Fügt eine Tabelle für die Abstellplanung ein.',
      url: '/static/tinymce_templates/parking.html'
    }]
  });
</script>
{% endblock %}
