{% extends "base.html" %}
{% load i18n %}
{% load tapeforms %}

{% block content %}

<div class="dvzo-container">
  <div class="dvzo-header">
    {% translate "New Day Planning" %}
  </div>
  <div class="dvzo-content">
    <div class="row">
      <div class="col">
        <form method="post">
          {% csrf_token %}
          {% for fieldset in form.get_fieldsets %}
          <div class="card my-2">
            <div class="card-body">
              <div class="card-title">{{ fieldset.extra.title }}</div>
              <div class="card-text">{% form fieldset %}</div>
            </div>
          </div>
          {% endfor %}
          <div class="dvzo-buttons-bottom">
            <input type="submit" value="Submit" class="btn btn-primary btn-sm">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

    {% endblock content %}
