{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate "template.dayplanning.detail.title" %} - {{ object.label }}{% endblock %}

{% block content %}

<div class="dvzo-container">
  <div class="dvzo-header">{{ object.label }}</div>
  <div class="dvzo-content">
    <div class="dvzo-button-top">
      <div class="card my-2">
        <div class="card-body">
          <div class="card-text">
            <a href="{% url 'day-planning-list' %}" class="btn btn-primary btn-sm my-1 me-1">
              <i class="fas fa-list"></i>
              {% translate "app.back_list" %}
            </a>
            {% if perms.train_management.change_dayplanning %}
            <a href="{% url 'briefing-pdf' pk=object.id %}" class="btn btn-primary btn-sm my-1 me-1">
              <i class="fas fa-print"></i>
              {% translate "template.dayplanning.briefing" %}
            </a>
            {% endif %}
            {% if perms.train_management.view_personnel %}
            <a href="{% url 'day-planning-recipients' pk=object.id %}" class="btn btn-primary btn-sm my-1 me-1">
              <i class="fas fa-users"></i>
              {% translate "template.dayplanning.recipients" %}
            </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-cols-lg-2 gy-4">
    <div class="col">
      <div class="card my-2">
        <div class="card-body">
          <div class="card-title">{% translate "app.master_data" %}</div>
          <div class="card-text">
            <table class="table table-sm dvzo-50">
              <thead>
              <th></th>
              <th></th>
              </thead>
              <tbody>
              <tr>
                <th>{% translate "dayplanning.date" %}</th>
                <td>{{object.date}}</td>
              </tr>
              <tr>
                <th>{% translate "dayplanning.type" %}</th>
                <td>{{object.get_day_planning_type_display}}</td>
              </tr>
              </tbody>
            </table>
            <b>{% translate "dayplanning.post_mortem" %}:</b>
            <p>{{object.post_mortem|truncatewords:20}}</p>
          </div>
        </div>
      </div>

      <div class="card my-2">
        <div class="card-body">
          <div class="card-title">{% translate "template.dayplanning.planning" %}</div>
          <div class="card-text">
            <table class="table table-sm dvzo-50">
              <thead>
              <th></th>
              <th></th>
              </thead>
              <tbody>
              <tr>
                <th>{% translate "dayplanning.railway_company" %}</th>
                <td>{{object.get_railway_company_display}}</td>
              </tr>
              <tr>
                <th>{% translate "dayplanning.slot_ordered_st" %}</th>
                <td>{{object.get_slot_ordered_st_display}}</td>
              </tr>
              <tr>
                <th>{% translate "dayplanning.slot_ordered_sbb" %}</th>
                <td>{{object.get_slot_ordered_sbb_display}}</td>
              </tr>
              <tr>
                <th>{% translate "dayplanning.personnel_disposition" %}</th>
                <td>{{object.get_personnel_disposition_display}}</td>
              </tr>
              <tr>
                <th>{% translate "dayplanning.engine_planning_status" %}</th>
                <td>{{object.get_engine_planning_status_display}}</td>
              </tr>
              <tr>
                <th>{% translate "dayplanning.carriage_planning_status" %}</th>
                <td>{{object.get_carriage_planning_status_display}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="card my-2">
        <div class="card-body">
          <div class="card-title">{% translate "template.dayplanning.booking" %}</div>
          <div class="card-text">
            <table class="table table-sm dvzo-50">
              <thead>
              <th></th>
              <th></th>
              </thead>
              <tbody>
              <tr>
                <th>{% translate "dayplanning.booking_status" %}</th>
                <td>{{object.get_booking_status_display}}</td>
              </tr>
              <tr>
                <th>{% translate "dayplanning.customers" %}</th>
                <td>{{object.customers}}</td>
              </tr>
              <tr>
                <th>{% translate "dayplanning.price" %}</th>
                <td>{{object.price}}</td>
              </tr>
              <tr>
                <th>{% translate "dayplanning.billed" %}</th>
                <td>{{object.get_billed_display}}</td>
              </tr>
              <tr>
                <th>{% translate "dayplanning.comment" %}</th>
                <td>{{object.comment}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        {% include 'includes/card_footer.html' %}
      </div>

      <div class="dvzo-button-bottom mb-4">
        {% if perms.train_management.change_dayplanning %}
        <a href="{% url 'day-planning-update' pk=object.id %}" class="btn btn-primary btn-sm my-1 me-1">
          <i class="far fa-edit"></i>
          {% translate "app.edit_master_data" %}
        </a>
        {% endif %}
        {% if perms.train_management.add_train %}
        <a href="{% url 'train-composition-create' pk=object.id %}" class="btn btn-primary btn-sm my-1 me-1">
          <i class="fas fa-plus"></i>
          {% translate "template.dayplanning.add_train_tour" %}
        </a>
        {% endif %}
      </div>
    </div>

    <div class="col">
      <div class="card my-2">
        <div class="card-body">
          <div class="card-title">{% translate "dayplanning.text" %}</div>
          <div class="card-text">
            <table class="table table-sm dvzo-75">
              <tbody>
              {% for dayplanning_text in dayplanning_texts %}
              <tr>
                <td>{{dayplanning_text.label}}</td>
                <td>
                  {% if perms.train_management.change_dayplanning_text %}
                  <a href="{% url 'day-planning-text-delete' pk=dayplanning_text.id %}">
                    <i class="fas fa-trash-alt text-danger"></i>
                  </a>
                  {% endif %}
                  {% if perms.train_management.delete_dayplanning_text %}&nbsp;
                  <a href="{% url 'day-planning-text-update' pk=dayplanning_text.id %}">
                    <i class="far fa-edit"></i>
                  </a>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="dvzo-button-bottom mb-4">
        {% if perms.train_management.add_dayplanning_text %}
        <a href="{% url 'day-planning-text-create' pk=object.id %}" class="btn btn-primary btn-sm my-1 me-1">
          <i class="fas fa-plus"></i>
          {% translate "template.dayplanning.add_dayplanning_text" %}
        </a>
        {% endif %}
      </div>
      {% if perms.train_management.view_functionpersons %}
      <div class="card my-2">
        <div class="card-body">
          <div class="card-title">{% translate "template.dayplanning.functions" %}</div>
          <div class="card-text">
            {% for function_type, functions in dayplanning_functions.items %}
            <h4>{{function_type}}</h4>
            <table class="table table-sm dvzo-50">
              <thead>
              <th>{% translate "template.dayplanning.functions.function" %}</th>
              <th>{% translate "template.dayplanning.functions.person" %}</th>
              </thead>
              <tbody>
              {% for function, persons in functions.items %}
              <tr>
                <td>{{function}}</td>
                <td>
                  {% for person in persons %}
                  {{person}}
                  {% if not forloop.last %}<br>{% endif %}
                  {% endfor %}
                </td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="dvzo-button-bottom">
        {% if perms.train_management.change_functionpersons %}
        <a href="{% url 'edit-dayplanning-functions' dayplanning_id=object.id %}"
           class="btn btn-primary btn-sm my-1 me-1">
          <i class="far fa-edit"></i>
          {% translate "template.dayplanning.edit_functions" %}
        </a>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </div>

  {% if perms.train_management.view_train %}
  <div class="row row-cols-lg-2 gy-4">
    {% for train_data in trains_data %}
    {% with train=train_data.train %}
    <div class="col">
      <div class="card my-2">
        <div class="card-body">
          <div class="card-title">{{train}}</div>
          <div class="card-text">
            <h4>{% translate "template.dayplanning.train.formation" %}</h4>
            {% include 'includes/train.html' %}<br><br>
            <b>{% translate "template.dayplanning.train.frequency" %}</b> {{ train.frequency }}<br>

            {% if perms.train_management.view_functionpersons %}
            <table class="table table-sm dvzo-25">
              <thead>
              <th>{% translate "template.dayplanning.functions.function" %}</th>
              <th>{% translate "template.dayplanning.functions.person" %}</th>
              </thead>
              <tbody>
              {% for function, persons in train_data.functions.items %}
              <tr>
                <td>{{function}}</td>
                <td>
                  {% for person in persons %}
                  {{ person }}
                  {% if not forloop.last %}<br>{% endif %}
                  {% endfor %}
                </td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
            {% endif %}

            {% if train.traintimetable_set.all|length %}
            <table class="table table-sm dvzo-25">
              <thead>
              <th>Fahrt</th>
              <th></th>
              <th>{% translate "template.dayplanning.traintimetable.frequency" %}</th>
              <th></th>
              </thead>
              <tbody>
              {% for traintimetable in train.traintimetable_set.all %}
              <tr>
                <td style="white-space: nowrap">
                  <div class="badge bg-secondary">
                    {{ traintimetable.label }}
                  </div>
                  {% if traintimetable.reservation_set.all|length > 0 %}
                  <div class="badge bg-success">R</div>
                  {% endif %}
                </td>
                <td>
                  <span class="fw-bold">{{ traintimetable.start_station }}</span>
                  <span>{{ traintimetable.start_time }}</span>
                  - <span class="fw-bold">{{ traintimetable.destination_station }}</span>
                  <span>{{ traintimetable.destination_time }}</span>
                </td>
                <td>{{ traintimetable.frequency }}</td>
                <td>
                  {% if perms.train_management.delete_traintimetable %}
                  <a href="{% url 'train-timetable-delete' pk=traintimetable.id %}">
                    <i class="fas fa-trash-alt text-danger"></i>
                  </a>
                  {% endif %}
                  {% if perms.train_management.change_traintimetable %}
                  <a href="{% url 'train-timetable-update' pk=traintimetable.id %}">
                    <i class="far fa-edit"></i>
                  </a>
                  {% endif %}
                  {% if perms.train_management.add_reservation %}
                  {% if traintimetable.reservation_internal == "possible" %}
                  <a href="{% url 'reservation-create' pk=traintimetable.id %}">
                    +Res
                  </a>
                  {% endif %}
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
            {% endif %}

            {% if traintimetable.comment|length %}
            <tr>
              <td colspan="3">{{ traintimetable.comment }}</td>
            </tr>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="dvzo-button-bottom">
        {% if perms.train_management.change_train %}
        <a href="{% url 'train-composition-update' pk=train.id %}" class="btn btn-primary btn-sm my-1 me-1">
          <i class="far fa-edit"></i>
          {% translate "template.dayplanning.train.edit_formation" %}
        </a>
        {% endif %}

        {% if perms.train_management.change_functionpersons %}
        <a href="{% url 'edit-train-functions' train_id=train.id %}" class="btn btn-primary btn-sm my-1 me-1">
          <i class="far fa-edit"></i>
          {% translate "template.dayplanning.train.edit_functions" %}
        </a>
        {% endif %}

        {% if perms.train_management.add_traintimetable %}
        <div class="btn-group my-1 me-1">
          <a href="{% url 'train-timetable-create' pk=train.id %}" class="btn btn-primary btn-sm">
            <i class="far fa-edit"></i>
            {% translate "template.dayplanning.train.add_schedule" %}
          </a>
          <button type="button"
                  class="btn btn-primary btn-sm dropdown-toggle dropdown-toggle-split"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item"
                 href="{% url 'train-timetable-template-choose' %}?train={{ train.id }}">
                <i class="far fa-id-card"></i>
                {% translate "template.dayplanning.train.add_from_template" %}
              </a>
            </li>
          </ul>
        </div>
        {% endif %}

        {% if perms.train_management.delete_train %}
        <a href="{% url 'train-composition-delete' pk=train.id %}" class="btn btn-danger btn-sm my-1 me-1">
          <i class="fas fa-trash"></i>
          {% translate "template.dayplanning.train.delete_formation" %}
        </a>
        {% endif %}

      </div>
    </div>
    {% endwith %}
    {% empty %}
    {% endfor %}
  </div>
  {% endif %}

  {% if perms.train_management.view_reservation %}
  <div class="row">
    <div class="col">
      <div class="card my-2">
        <div class="card-body">
          <div class="card-title">{% translate "template.dayplanning.reservations" %}</div>
          <div class="card-text">
            <table class="table table-sm">
              <thead>
              <th>{% translate "template.dayplanning.reservations.traintimetable" %}</th>
              <th>{% translate "template.dayplanning.reservations.start_end" %}</th>
              <th>{% translate "template.dayplanning.reservations.name" %}</th>
              <th>{% translate "template.dayplanning.reservations.customers" %}</th>
              <th>{% translate "template.dayplanning.reservations.type" %}</th>
              <th>{% translate "template.dayplanning.reservations.status" %}</th>
              <th>{% translate "template.dayplanning.reservations.comment" %}</th>
              </thead>
              <tbody>
              {% for traintimetable in traintimetables %}
              {% with reservations=traintimetable.reservation_set.all %}
              {% if reservations|length > 0 %}
              <tr>
                <td rowspan={{reservations|length}}>
                  <div class="badge bg-secondary">
                    {{ traintimetable.label }}
                  </div>
                  <span class="fw-bold">{{ traintimetable.start_station.label_short }}</span>
                  <span>{{ traintimetable.start_time }}</span>
                  - <span class="fw-bold">{{ traintimetable.destination_station.label_short }}</span>
                  <span>{{ traintimetable.destination_time }}</span>
                </td>
                {% endif %}
                {% for reservation in reservations %}
                <td>
                  <span class="fw-bold">{{reservation.start.label_short}}</span>
                  - <span class="fw-bold">{{reservation.end.label_short}}</span>
                </td>
                <td>{{reservation.label}}</td>
                <td>{{reservation.amount}}</td>
                <td><span class="badge bg-success">{{reservation.get_reservation_type_display}}</span></td>
                <td>{{reservation.get_reservation_status_display}}</td>
                <td>{{reservation.comment}}</td>
              </tr>
              {% endfor %}
              {% endwith %}
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>

{% endblock content %}
