{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="container">
  <h1>{{ object.label }}</h1>
  <div class="container white-container">
    <a href='{% url "day-planning-list" %}' class="btn btn-primary">
      <i class="fas fa-list"></i>
      {% translate "Back to list" %}
    </a>
    <a href='{% url "briefing-pdf" pk=object.id %}' class="btn btn-primary">
      <i class="fas fa-print"></i>
      {% translate "Briefing" %}
    </a>
  </div>
  <div class="row row-cols-lg-2">
    <div class="col">
      <div class="container white-container">

        <h2>{% translate "Stammdaten" %}</h2>
        <table class="table table-sm dvzo-50">
          <thead>
          <th></th>
          <th></th>
          </thead>
          <tbody>
          <tr>
            <th>Datum</th>
            <td>{{object.date}}</td>
          </tr>
          <tr>
            <th>Typ</th>
            <td>{{object.get_day_planning_type_display}}</td>
          </tr>
          <tr>
            <th>Status</th>
            <td>{{object.get_status_display}}</td>
          </tr>
          <tr>
            <th>Bezahlt</th>
            <td>{% if object.paid == True %} {% translate "Yes" %} {% else %} {% translate "No" %} {% endif %}</td>
          </tr>
          <tr>
            <th>Text</th>
            <td>{{object.text}}</td>
          </tr>
          </tbody>
        </table>


        <a href='{% url "day-planning-update" pk=object.id %}' class="btn btn-primary">
          <i class="far fa-edit"></i>
          {% translate "Edit master data" %}
        </a>
        <a href='{% url "train-composition-create" pk=object.id %}' class="btn btn-primary">
          <i class="fas fa-plus"></i>
          {% translate "Add new train tour" %}
        </a>
      </div>
    </div>

    <div class="col">
      <div class="container white-container">
        <h2>{% translate "Functions" %}</h2>
        <h3>{% translate "Bauma" %}</h3>
        <table class="table table-sm dvzo-50">
          <thead>
          <th>Funktion</th>
          <th>Person</th>
          </thead>
          <tbody>
          <tr>
            <td>Anlagenwärter</td>
            <td>Peter Muster</td>
          </tr>
          <tr>
            <td>Lokbetreuer</td>
            <td>
              Max Muster<br>
              Manuel Muster<br>
              Michael Muster
            </td>
          </tr>
          </tbody>
        </table>

        <h3>{% translate "Neuthal" %}</h3>
        <table class="table table-sm dvzo-50">
          <thead>
          <th>Funktion</th>
          <th>Person</th>
          </thead>
          <tbody>
          <tr>
            <td>Barrierenwärter</td>
            <td>
              Max Muster<br>
              Manuel Muster<br>
              Michael Muster
            </td>
          </tr>
          </tbody>
        </table>
        <h3>{% translate "Bäretswil" %}</h3>
        <table class="table table-sm dvzo-50">
          <thead>
          <th>Funktion</th>
          <th>Person</th>
          </thead>
          <tbody>
          <tr>
            <td>Koordinator</td>
            <td>Max Muster</td>
          </tr>
          <tr>
            <td>Anlagenwärter</td>
            <td>Max Muster</td>
          </tr>
          </tbody>
        </table>
        <h3>{% translate "Hinwil" %}</h3>
        <table class="table table-sm dvzo-50">
          <thead>
          <th>Funktion</th>
          <th>Person</th>
          </thead>
          <tbody>
          <tr>
            <td>Billetverkauf</td>
            <td>Max Muster</td>
          </tr>
          </tbody>
        </table>
        <a href="#" class="btn btn-primary">
          <i class="far fa-edit"></i>
          {% translate "Edit functions" %}
        </a>
      </div>

    </div>
  </div>
  <div class="row row-cols-lg-2">
    {% for train in object.train_set.all %}
    <div class="col">
      <div class="container white-container">
        <h2>{{train.label}}</h2>
        <h3>Formation</h3>
        {% include 'includes/train.html'%}
        <table class="table table-sm dvzo-25">
          <thead>
          <th>Funktion</th>
          <th>Person</th>
          </thead>
          <tbody>
          <tr>
            <td>Lf</td>
            <td>Max Muster</td>
          </tr>
          <tr>
            <td>Hz f</td>
            <td>Max Muster</td>
          </tr>
          <tr>
            <td>Hz s</td>
            <td>Max Muster</td>
          </tr>
          <tr>
            <td>Z</td>
            <td>Max Muster</td>
          </tr>
          <tr>
            <td>K</td>
            <td>Max Muster</td>
          </tr>
          <tr>
            <td>WR</td>
            <td>
              Max Muster<br>
              Monika Muster<br>
              Miranda Muster
            </td>
          </tr>
          </tbody>
        </table>
        {% if train.traintimetable_set.all|length %}
        <table class="table table-sm dvzo-25">
          <thead>
          <th>Fahrt</th>
          <th></th>
          <th></th>
          </thead>
          <tbody>
          {% for traintimetable in train.traintimetable_set.all %}
          <tr>
            <td>
              <div class="badge bg-secondary">{{ traintimetable.label }}</div>
            </td>
            <td>
              <span class="fw-bold">{{ traintimetable.start_station }}</span>
              <span>{{ traintimetable.start_time }}</span>
              - <span class="fw-bold">{{ traintimetable.destination_station }}</span>
              <span>{{ traintimetable.destination_time }}</span>
            </td>
            <td>
              <a href='{% url "train-timetable-delete" pk=traintimetable.id %}'>
                <i class="fas fa-trash-alt text-danger"></i>
              </a>&nbsp;
              <a href='{% url "train-timetable-update" pk=traintimetable.id %}'>
                <i class="far fa-edit"></i>
              </a>
            </td>
          </tr>
          {% if traintimetable.comment|length %}
          <tr>
            <td colspan="3">{{ traintimetable.comment }}</td>
          </tr>
          {% endif %}
          {% endfor %}

          </tbody>
        </table>
        {% endif %}
        <a href='{% url "train-composition-update" pk=train.id %}' class="btn btn-primary">
          <i class="far fa-edit"></i>
          {% translate "Edit train formation" %}
        </a>
        <a href='#' class="btn btn-primary">
          <i class="far fa-edit"></i>
          {% translate "Edit functions" %}
        </a>
        <div class="btn-group">
          <a href='{% url "train-timetable-create" pk=train.id %}' class="btn btn-primary">
            <i class="far fa-edit"></i>
            {% translate "Add schedule" %}
          </a>
          <button type="button"
                  class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item disabled" href='{% url "train-timetable-template-list" %}?train={{ train.id }}&active=True'>
                <i class="far fa-id-card"></i>
                {% translate "Add from Template" %}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {% empty %}
    {% endfor %}

  </div>
</div>

{% endblock content %}
