{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1>{{ object.label }}</h1>
      <div class="container white-container">
        <h2>{% translate "Stammdaten" %}</h2>
        <form action="{% url " day-planning-detail
        " pk=object.id %}" method="post">
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <input type="submit" value="Submit" class="btn btn-primary">
        <a href={% url "day-planning-list" %} class="btn btn-primary">{% translate "Back to list" %}</a>
        </form>
      </div>

      <div class="container white-container">
        <h2>{% translate "Funktionen" %}</h2>
        <h3>{% translate "Bauma" %}</h3>
        <table class="table table-sm">
          <thead>
            <th>Funktion</th>
            <th>Person</th>
          </thead>
            <tbody>
              <tr>
                <td>Anlagenwärter</td>
                <td>Peter Muster</td>
              </tr>
            <tr>
                <td>Lokbetreuer</td>
                <td>
                  Max Muster<br>
                  Manuel Muster<br>
                  Michael Muster
                </td>
              </tr>
            </tbody>
        </table>

        <h3>{% translate "Neuthal" %}</h3>
        <table class="table table-sm">
          <thead>
            <th>Funktion</th>
            <th>Person</th>
          </thead>
            <tbody>
              <tr>
                <td>Barrierenwärter</td>
                <td>
                  Max Muster<br>
                  Manuel Muster<br>
                  Michael Muster
                </td>
              </tr>
            </tbody>
        </table>
        <h3>{% translate "Bäretswil" %}</h3>
        <table class="table table-sm">
          <thead>
            <th>Funktion</th>
            <th>Person</th>
          </thead>
            <tbody>
              <tr>
                <td>Koordinator</td>
                <td>Max Muster</td>
              </tr>
              <tr>
                <td>Anlagenwärter</td>
                <td>Max Muster</td>
              </tr>
            </tbody>
        </table>
        <h3>{% translate "Hinwil" %}</h3>
        <table class="table table-sm">
          <thead>
            <th>Funktion</th>
            <th>Person</th>
          </thead>
            <tbody>
              <tr>
                <td>Billetverkauf</td>
                <td>Max Muster</td>
              </tr>
            </tbody>
        </table>
        <a href="#" class="btn btn-primary">{% translate "Funktionen bearbeiten" %}</a>
      </div>

    </div>
  </div>
  <div class="row row-cols-lg-2">
    <div class="col">
      <div class="container white-container">
        <h2>{% translate "Zug 1" %}</h2>
        <p>
          <h3>Formation</h3>
          <span class="badge bg-primary">Lok 2</span>
          <span class="badge bg-dark">FZ202</span>
          <span class="badge bg-secondary">BC123</span>
          <span class="badge bg-secondary">C22</span>
          <span class="badge bg-secondary">C58</span>
          <span class="badge bg-danger">WR151</span>
        </p>
        <table class="table table-sm">
          <thead>
            <th>Funktion</th>
            <th>Person</th>
          </thead>
            <tbody>
              <tr>
                <td>Lf</td>
                <td>Max Muster</td>
              </tr>
              <tr>
                <td>Hz f</td>
                <td>Max Muster</td>
              </tr>
              <tr>
                <td>Hz s</td>
                <td>Max Muster</td>
              </tr>
              <tr>
                <td>Z</td>
                <td>Max Muster</td>
              </tr>
              <tr>
                <td>K</td>
                <td>Max Muster</td>
              </tr>
              <tr>
                <td>WR</td>
                <td>
                  Max Muster<br>
                  Monika Muster<br>
                  Miranda Muster
                </td>
              </tr>
            </tbody>
        </table>
        <a href="#" class="btn btn-primary">{% translate "Zug bearbeiten" %}</a>
      </div>
    </div>
    <div class="col">
      <div class="container white-container">
        <h2>{% translate "Zug 1" %}</h2>
        <p>
          <h3>Formation</h3>
          <span class="badge bg-primary">Lok 2</span>
          <span class="badge bg-dark">FZ202</span>
          <span class="badge bg-secondary">BC123</span>
          <span class="badge bg-secondary">C22</span>
          <span class="badge bg-secondary">C58</span>
          <span class="badge bg-danger">WR151</span>
        </p>
        <a href="#" class="btn btn-primary">{% translate "Zug bearbeiten" %}</a>
      </div>
    </div>
    <div class="col">
      <div class="container white-container">
        <h2>{% translate "Rangier" %}</h2>
        <h3>Formation</h3>
        <span class="badge bg-primary">Tem II</span>
        <table class="table table-sm">
          <thead>
            <th>Funktion</th>
            <th>Person</th>
          </thead>
            <tbody>
              <tr>
                <td>Lf</td>
                <td>Max Muster</td>
              </tr>
              <tr>
                <td>Rangier</td>
                <td>Max Muster</td>
              </tr>
            </tbody>
        </table>
        <a href="#" class="btn btn-primary">{% translate "Zug bearbeiten" %}</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
