{% extends "base.html" %}
{% load i18n %}
{% load tapeforms %}

{% block title %}{% translate "template.dvzo_function.create.title" %}{% endblock %}

{% block content %}

<div class="dvzo-container">
  <div class="dvzo-header">
    {% translate "template.dvzo_function.create.header" %}
  </div>
  <div class="dvzo-content">
    <div class="row">
      <div class="col">
        <form method="post">
          {% csrf_token %}
          <div class="card my-2">
            <div class="card-body">
              <div class="card-text">
                {% form form %}
              </div>
            </div>
          </div>
          <div class="dvzo-buttons-bottom">
            <input type="submit" value="{% translate 'template.dvzo_function.submit' %}" class="btn btn-primary">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
