{% extends "base.html" %}
{% load i18n %}
{% load tapeforms %}

{% block content %}

<div class="container">
  <h1>{{ object.label }}</h1>
  <div class="container white-container">
    <h2>{% translate "Stammdaten" %}</h2>
    <form action="{% url 'engine-detail' pk=object.id %}" method="post">
      {% csrf_token %}
      {% form form %}
      <input type="submit" value="Submit" class="btn btn-primary">
      <a href="{% url 'engine-list' %}" class="btn btn-primary">{% translate "Back to list" %}</a>
    </form>
  </div>
</div>

{% endblock content %}
