{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate "engine.detail.title" %} - {{ object.label }}{% endblock %}

{% block content %}

<div class="dvzo-container">
  <div class="dvzo-header">{{ object.label }}</div>
  <div class="dvzo-content">
    <div class="dvzo-button-top">
      <div class="card my-2">
        <div class="card-body">
          <div class="card-text">
            <a href='{% url "carriage-list" %}' class="btn btn-primary btn-sm my-1 me-1">
              <i class="fas fa-list"></i>
              {% translate "app.back_list" %}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
