{% extends "base.html" %}
{% load i18n %}
{% load tapeforms %}

{% block content %}

<div class="dvzo-container">
  <div class="dvzo-header">
    {{ object.last_name }}, {{ object.first_name }}
  </div>

  <div class="dvzo-content">
    <div class="row">
      <div class="col">
        <form action="{% url 'personnel-detail' pk=object.id %}" method="post">
          <div class="card my-2">
            <div class="card-body">
              <div class="card-text">
                {% csrf_token %}
                {% form user_form %}
                {% form form %}
              </div>
            </div>
          </div>
          <div class="dvzo-buttons-bottom">
            <input type="submit" value="Submit" class="btn btn-primary btn-sm my-1 me-1">
            <a href="{% url 'personnel-list' %}" class="btn btn-primary btn-sm my-1 me-1">
              {% translate "Back to list" %}
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
