{% extends "base.html" %}
{% load i18n %}
{% load tapeforms %}

{% block content %}

<div class="dvzo-container">

  <div class="dvzo-header">
    {% translate "New Personnel" %}
  </div>

  <div class="dvzo-content">
    <div class="row">
      <div class="col">
        <form method="post">
          <div class="card my-2">
            <div class="card-body">
              <div class="card-text">
                {% csrf_token %}
                {% form form %}
              </div>
            </div>
          </div>
          <div class="dvzo-buttons-bottom">
            <input type="submit" value="{% translate 'Submit' %}" class="btn btn-primary btn-sm">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock content %}
