{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
  <h1>{% translate "Personnel" %}</h1>

  <div class="container white-container">
    <table
      id="personnelListTable"
      data-toggle="table"
      data-classes="table table-hover table-condensed"
      data-striped="true"
      data-locale="de-DE"
      data-search="true"
      data-sort-name="last_name"
      data-sort-order="asc"
      data-pagination="true"
      data-page-size="15"
      data-page-list="[15, 25, 50, 100, 200, All]"
    >
      <thead>
      <tr>
        <th data-field="state" data-checkbox="true">State</th>
        <th data-field="id" data-visible="false">ID</th>
        <th data-field="last_name" data-sortable="true">{% translate "Lastname" %}</th>
        <th data-field="first_name" data-sortable="true">{% translate "Firstname" %}</th>
        <th data-field="status" data-sortable="true">{% translate "Status" %}</th>
        <th data-field="email" data-sortable="false">{% translate "E-Mail" %}</th>
        <th data-field="mobile_phone" data-sortable="false">{% translate "Mobile Phone" %}</th>
        <th data-field="actions" data-sortable="false"></th>
      </tr>
      </thead>
      <tbody>
      {% for personnel in personnels %}
      <tr>
        <td></td>
        <td>{{ personnel.username }}</td>
        <td>{{ personnel.last_name }}</td>
        <td>{{ personnel.first_name }}</td>
        <td>
          {% if personnel.status == "active" %}
          <span class="badge bg-success">{{ personnel.get_status_display }}</span>
          {% elif personnel.status == "inactive" %}
          <span class="badge bg-danger">{{ personnel.get_status_display }}</span>
          {% else %}
          {{ personnel.status }}
          {% endif %}
        </td>
        <td>{{ personnel.email }}</td>
        <td>{{ personnel.mobile_phone.as_national }}</td>
        <td>
          <a href='{% url "personnel-delete" pk=personnel.id %}'>
              <i class="fas fa-trash-alt text-danger"></i>
            </a>&nbsp;
            <a href='{% url "personnel-detail" pk=personnel.id %}'>
              <i class="far fa-edit"></i>
            </a>
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
    <br>
    <a href='{% url "personnel-create" %}' class="btn btn-primary" >
      <i class="fas fa-plus"></i>
      {% translate "New personnel" %}
    </a>
    <button id="daySelectionBtn" class="btn btn-secondary disabled">tmpGetSelections</button>
  </div>
</div>

<script>
  var $table = $('#personnelListTable');
  var $button = $('#daySelectionBtn');

  $(function() {
      $button.click(function () {
          alert('getSelections: ' + JSON.stringify($table.bootstrapTable('getSelections')))
        })
    })

</script>
{% endblock content %}
