{% extends "base.html" %}
{% load i18n %}
{% load tapeforms %}

{% block title %}{% translate "template.personnel.create.title" %}{% endblock %}

{% block content %}

<div class="dvzo-container">

  <div class="dvzo-header">
    {% translate "template.personnel.create.header" %}
  </div>

  <div class="dvzo-content">
    <div class="row">
      <div class="col">
        <form method="post">
          <div class="card my-2">
            <div class="card-body">
              <div class="card-text">
                {% csrf_token %}
                {% form user_form %}
                {% form form %}
              </div>
            </div>
          </div>
          <div class="dvzo-buttons-bottom">
            <input type="submit" value="{% translate 'template.personnel.submit' %}" class="btn btn-primary btn-sm">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    const multipleCancelButton = new Choices('#id_groups', {
      removeItemButton: true,
      searchResultLimit:5,
      renderChoiceLimit:5
    });
  });
</script>

{% endblock content %}
