{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate "template.phone_number.title" %} - {{ phone_number.get_phone_number_type_display }}{% endblock %}

{% block content %}

<div class="dvzo-container">
  <div class="dvzo-header">
    {% translate "template.phone_number.type.header" %} {{ phone_number.get_phone_number_type_display }}
  </div>
  <div class="dvzo-content">
    <div class="d-grid gap-2 d-md-block">
      <div class="list-group">
        {% for phone_number in phone_numbers %}
          <a href="tel:{{ phone_number.phone_number }}" class="list-group-item list-group-item-action">
            {{ phone_number.label }}
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock content %}
