{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate "Reservations" %}{% endblock %}

{% block content %}

<div class="dvzo-container">

  <div class="dvzo-header">
    {% translate "Reservations" %}
  </div>

  <div class="dvzo-content">
    <div class="row">
      <div class="col">
        <div class="card my-2">
          <div class="card-body">
            <div class="card-text">
              <table
                id="reservationListTable"
                data-toggle="table"
                data-classes="table table-hover table-condensed"
                data-striped="true"
                data-locale="de-DE"
                data-search="true"
                data-sort-name="last_name"
                data-sort-order="asc"
                data-pagination="true"
                data-page-size="15"
                data-page-list="[15, 25, 50, 100, 200, All]"
              >
                <thead>
                <tr>
                  <th data-field="state" data-checkbox="true">State</th>
                  <th data-field="id" data-visible="false">ID</th>
                  <th data-field="label" data-sortable="true">{% translate "label" %}</th>
                  <th data-field="dayplanning" data-sortable="true">{% translate "Day planning" %}</th>
                  <th data-field="traintimetable" data-sortable="true">{% translate "train timetable" %}</th>
                  <th data-field="amount" data-sortable="true">{% translate "amount" %}</th>
                  <th data-field="email" data-sortable="false">{% translate "E-Mail" %}</th>
                  <th data-field="phone" data-sortable="false">{% translate "Phone" %}</th>
                  <th data-field="actions" data-sortable="false"></th>
                </tr>
                </thead>
                <tbody>
                {% for reservation in reservations %}
                <tr>
                  <td></td>
                  <td>{{ reservation.id }}</td>
                  <td>{{ reservation.label }}</td>
                  <td>
                    {{ reservation.train_timetable.train.day_planning }} /
                    {{ reservation.train_timetable.train.day_planning.date }}
                  </td>
                  <td>{{ reservation.train_timetable }}</td>
                  <td>{{ reservation.amount }}</td>
                  <td>{{ reservation.email }}</td>
                  <td>{{ reservation.phone.as_national }}</td>
                  <td>
                    <a href='{% url "reservation-delete" pk=reservation.id %}'>
                      <i class="fas fa-trash-alt text-danger"></i>
                    </a>&nbsp;
                    <a href='{% url "reservation-update" pk=reservation.id %}'>
                      <i class="far fa-edit"></i>
                    </a>
                  </td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="dvzo-buttons-bottom">
          <button id="daySelectionBtn" class="btn btn-secondary disabled">tmpGetSelections</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var $table = $('#reservationListTable');
  var $button = $('#daySelectionBtn');

  $(function() {
      $button.click(function () {
          alert('getSelections: ' + JSON.stringify($table.bootstrapTable('getSelections')))
        })
    })

</script>
{% endblock content %}
