{% extends "base.html" %}
{% load i18n %}


{% block title %}{% translate "reservation_calendar.title" %}{% endblock %}
{% block header_scripts %}
<script src="https://unpkg.com/js-year-calendar@latest/dist/js-year-calendar.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://unpkg.com/js-year-calendar@latest/dist/js-year-calendar.min.css"/>
<script src="https://unpkg.com/js-year-calendar@latest/locales/js-year-calendar.de.js"></script>
{% endblock header_scripts %}
{% block content %}


<div class="dvzo-header">
  {% translate "reservation_calendar.title" %}
</div>

<div class="dvzo-content">
  <div class="row">
    <div class="col">
      <div class="card my-2">
        <div class="card-body">
          <div class="card-text">
            <div id="calendar"></div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
 TODO:
 - change dataSource to be served by django
 -- each dayplanning is an dataSource entry
 --- id = Dayplanning.id
 --- name = Dayplanning.label
 --- url = described later
 --- startDate = Dayplanning.date
 --- endDate = Dayplanning.date
 --- color = DayplanningType
      SUNDAY = '#ed174b'
      EXTRA = '#6a99e6'
      OTHER = 'grey'
 - The calendar will be used for two things:
 -- see the dayplannings in a calendar view. reached from dayplanning-list.
 --- url = /dayplanning/detail/<id>
 -- make reservations:
 --- url = /reservation-calendar/<dayplanning.id>

 -->
<script>
  new Calendar('#calendar', {
  language: 'de',
  style:'background',
  dataSource: [
    {
      id: 0,
      name: 'Testfahrt 1',
      url: '/dayplanning/1',
      startDate: new Date(2021, 4, 2),
      endDate: new Date(2021, 4, 2),
      color: '#ed174b'
    },
    {
      id: 0,
      name: 'Testfahrt 1',
      url: '/dayplanning/1',
      startDate: new Date(2021, 4, 16),
      endDate: new Date(2021, 4, 16),
      color: '#ed174b'
    },
    {
      id: 0,
      name: 'Testfahrt 1',
      url: '/dayplanning/1',
      startDate: new Date(2021, 5, 6),
      endDate: new Date(2021, 5, 6),
      color: '#ed174b'
    },
    {
      id: 0,
      name: 'Testfahrt 1',
      url: '/dayplanning/1',
      startDate: new Date(2021, 5, 20),
      endDate: new Date(2021, 5, 20),
      color: '#ed174b'
    },
    {
      id: 0,
      name: 'Testfahrt 1',
      url: '/dayplanning/1',
      startDate: new Date(2021, 6, 4),
      endDate: new Date(2021, 6, 4),
      color: '#ed174b'
    },
    {
      id: 0,
      name: 'Testfahrt 1',
      url: '/dayplanning/1',
      startDate: new Date(2021, 6, 18),
      endDate: new Date(2021, 6, 18),
      color: '#ed174b'
    },
    {
      id: 0,
      name: 'Testfahrt 1',
      url: '/dayplanning/1',
      startDate: new Date('2021-08-01'),
      endDate: new Date('2021-08-01'),
      color: '#ed174b'
    },
    {
      id: 0,
      name: 'Testfahrt 1',
      url: '/dayplanning/1',
      startDate: new Date('2021-08-15'),
      endDate: new Date('2021-08-15'),
      color: '#ed174b'
    },
    {
      id: 0,
      name: 'Testfahrt 1',
      url: '/dayplanning/1',
      startDate: new Date('2021-09-05'),
      endDate: new Date('2021-09-05'),
      color: '#ed174b'
    },
    {
      id: 0,
      name: 'Testfahrt 1',
      url: '/dayplanning/1',
      startDate: new Date('2021-09-19'),
      endDate: new Date('2021-09-19'),
      color: '#ed174b'
    },
    {
      id: 0,
      name: 'Testfahrt 1',
      url: '/dayplanning/1',
      startDate: new Date('2021-10-03'),
      endDate: new Date('2021-10-03'),
      color: '#ed174b'
    },
    {
      id: 0,
      name: 'Testfahrt 1',
      url: '/dayplanning/1',
      startDate: new Date('2021-10-17'),
      endDate: new Date('2021-10-17'),
      color: '#ed174b'
    },
    {
      id: 0,
      name: 'Heizerkurs',
      url: '/dayplanning/1',
      startDate: new Date('2021-04-30'),
      endDate: new Date('2021-05-01'),
      color: 'grey'
    },
    {
      id: 0,
      name: 'Heizerkurs',
      url: '/dayplanning/1',
      startDate: new Date('2021-07-02'),
      endDate: new Date('2021-07-03'),
      color: 'grey'
    },
    {
      id: 0,
      name: 'Samichlaus-Express',
      url: '/dayplanning/1',
      startDate: new Date('2021-12-04'),
      endDate: new Date('2021-12-04'),
      color: '#6a99e6'
    },
    {
      id: 0,
      name: 'Heizerkurs',
      url: '/dayplanning/1',
      startDate: new Date('2021-12-05'),
      endDate: new Date('2021-12-05'),
      color: '#6a99e6'
    },
  ]
})

document.querySelector('.calendar').addEventListener('clickDay', function(e) {
  window.location.pathname = ('/dayplanning/detail/2')
})
var dateToDisable = new Date(2021, 9, 5)
calendar.setDisabledDays([dateToDisable])

</script>

{% endblock content %}
