{% extends "base.html" %}
{% load i18n %}
{% load tapeforms %}

{% block title %}{% translate "Create station" %}{% endblock %}

{% block content %}

<link rel="stylesheet" href="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1569006288/BBBootstrap/choices.min.css?version=7.0.0">
<script src="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1569006273/BBBootstrap/choices.min.js?version=7.0.0"></script>

<div class="dvzo-container">

  <div class="dvzo-header">
    {% translate "New station" %}
  </div>

  <div class="dvzo-content">
    <div class="row">
      <div class="col">
        <form method="post">
          <div class="card my-2">
            <div class="card-body">
              <div class="card-text">
                {% csrf_token %}
                {% form form %}
              </div>
            </div>
          </div>
          <div class="dvzo-buttons-bottom">
            <input type="submit" value="{% translate 'Submit' %}" class="btn btn-primary btn-sm">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
   $(document).ready(function(){

     var multipleCancelButton = new Choices('#id_neighbours', {
       removeItemButton: true,
       searchResultLimit:5,
       renderChoiceLimit:5
     });


   });
</script>

{% endblock content %}
