{% extends "base.html" %}
{% load i18n %}
{% load tapeforms %}

{% block title %}{% translate "Update station" %}{% endblock %}

{% block content %}

<link rel="stylesheet" href="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1569006288/BBBootstrap/choices.min.css?version=7.0.0">
<script src="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1569006273/BBBootstrap/choices.min.js?version=7.0.0"></script>

<div class="dvzo-container">

  <div class="dvzo-header">
    {{ object.label }}
  </div>

  <div class="dvzo-content">
    <div class="row">
      <div class="col">
        <form action="{% url 'station-detail' pk=object.id %}" method="post">
          <div class="card my-2">
            <div class="card-body">
              <div class="card-text">
                {% csrf_token %}
                {% form form %}
              </div>
            </div>
          </div>
          <div class="dvzo-buttons-bottom">
            <input type="submit" value="Submit" class="btn btn-primary btn-sm my-1 me-1">
            <a href='{% url "station-list" %}' class="btn btn-primary btn-sm my-1 me-1">
              {% translate "Back to list" %}
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

## TODO: script needs to format the correct field
<script>
   $(document).ready(function(){
  
 var f_{{ function.function.id }} = new Choices('#function-{{ function.function.id }}', {
 removeItemButton: true,
 searchResultLimit:5,
 renderChoiceLimit:5

 });

 });
</script>

{% endblock content %}
