{% extends "base.html" %}
{% load i18n %}

{% block content %}
<link rel="stylesheet" href="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1569006288/BBBootstrap/choices.min.css?version=7.0.0">
<script src="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1569006273/BBBootstrap/choices.min.js?version=7.0.0"></script>

<div class="container">
  <h1>{% translate "New Functions" %}</h1>
  <div class="container white-container">
    <form method="post">
      {% csrf_token %}
      {% include 'includes/form.html' %}
      <input type="submit" value="Submit" class="btn btn-primary">
    </form>
  </div>
</div>

<script>
  $(document).ready(function(){
  {% for field in form %}
     var multipleCancelButton = new Choices('#{{field.id_for_label}}', {
     removeItemButton: true,
     searchResultLimit:5,
     renderChoiceLimit:5
     });
  {% endfor %}
  });
</script>

{% endblock content %}
