{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate "template.train_functions.title" %}{% endblock %}

{% block content %}

<div class="dvzo-container">
  <div class="dvzo-content">
    <div class="row">
      <div class="col">
        <form method="post">
          <div class="card my-2">
            <div class="card-body">
              <div class="card-text">
                {% csrf_token %}

                {% for function in functions %}
                <div class="mb-3">
                  <label for="function-{{ function.function.id }}">{{ function.function.label }}</label>
                  <select id="function-{{ function.function.id }}" name="{{ function.function.id }}" multiple
                          class="form-select">
                    {% for person in persons %}
                    <option value="{{ person.id }}" {% if person.id in function.persons %}selected{% endif %}>
                      {{ person.first_name }} {{ person.last_name }}
                    </option>
                    {% endfor %}
                  </select>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="dvzo-buttons-bottom">
            <input type="submit" value="{% translate 'template.train_functions.submit' %}" class="btn btn-primary btn-sm">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
  {% for function in functions %}
    const f_{{ function.function.id }} = new Choices('#function-{{ function.function.id }}', {
      removeItemButton: true,
      searchResultLimit:5,
      renderChoiceLimit:5
    });
  {% endfor %}
});
</script>

{% endblock content %}
