{% extends "base.html" %}
{% load i18n %}
{% load tapeforms %}

{% block title %}{% translate "template.train.update.title" %}{% endblock %}

{% block content %}

<div class="dvzo-container">

  <div class="dvzo-header">
    {% translate "template.train.update.header" %}
  </div>
  <div class="dvzo-content">
    <div class="row">
      <div class="col">
        <form id="orderingForm" method="post" action={{ request.get_full_path }}>
          <div class="card my-2">
            <div class="card-body">
              <div class="card-text">
                {% csrf_token %}
                {% form form %}
                <input type="hidden" id="orderingInput" name="ordering">
              </div>
            </div>
            {% include 'includes/card_footer.html' %}
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="card my-2">
          <div class="card-body">
            <div class="card-title">{% translate "template.train.update.selected" %}</div>
            <div class="card-text">
              <ul id="train" class="list-group" style="background-color: yellow">
                {% for vehicle in train.vehicles %}
                {% include 'includes/train_composition.html'%}
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card my-2">
          <div class="card-body">
            <div class="card-title">{% translate "template.train.update.available" %}</div>
            <div class="card-text">
              <ul id="vehicles" class="list-group" style="background-color: yellow">
                {% for vehicle in available_vehicles %}
                {% include 'includes/train_composition.html'%}
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="dvzo-buttons-bottom">
          <button id="saveOrdering" class="btn btn-primary btn-sm my-1 me-1">{% translate "template.train.save" %}</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block scripts %}
<script>
    var trainSortable = new Sortable.create(train, {
        group: 'train_group',
        animation: 150,
    });
    new Sortable.create(vehicles, {
        group: 'train_group',
        animation: 150,
    });

    const saveOrderingButton = document.getElementById('saveOrdering');
    const orderingForm = document.getElementById('orderingForm');
    const formInput = orderingForm.querySelector('#orderingInput');

    function saveOrdering() {
        formInput.value = trainSortable.toArray();
        orderingForm.submit();
    }
    saveOrderingButton.addEventListener('click', saveOrdering);

</script>
{% endblock scripts %}
