{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
  <h1>{% translate "Train function" %}</h1>

  <div class="container white-container">
    <table
      id="trainfunctionListTable"
      data-toggle="table"
      data-classes="table table-hover table-condensed"
      data-striped="true"
      data-locale="de-DE"
      data-search="true"
      data-sort-name="train"
      data-sort-order="asc"
      data-pagination="true"
      data-page-size="15"
      data-page-list="[15, 25, 50, 100, 200, All]"
    >
      <thead>
      <tr>
        <th data-field="state" data-checkbox="true">State</th>
        <th data-field="id" data-visible="false">ID</th>
        <th data-field="train" data-sortable="true">{% translate "Lastname" %}</th>
        <th data-field="actions" data-sortable="false"></th>
      </tr>
      </thead>
      <tbody>
      {% for trainfunction in trainfunctions %}
      <tr>
        <td></td>
        <td>{{ trainfunction.id }}</td>
        <td>{{ trainfunction.train }}</td>
        <td>
          <a href='{% url "train-function-delete" pk=trainfunction.id %}'>
              <i class="fas fa-trash-alt text-danger"></i>
            </a>&nbsp;
            <a href='{% url "train-function-update" pk=trainfunction.id %}'>
              <i class="far fa-edit"></i>
            </a>
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
    <br>
    <button id="daySelectionBtn" class="btn btn-secondary disabled">tmpGetSelections</button>
  </div>
</div>

<script>
  var $table = $('#trainfunctionListTable');
  var $button = $('#daySelectionBtn');

  $(function() {
      $button.click(function () {
          alert('getSelections: ' + JSON.stringify($table.bootstrapTable('getSelections')))
        })
    })

</script>
{% endblock content %}
