@import "variables";

$nav-width: 350px;
$nav-padding: 40px;

html {
  background-color: rgb(247, 247, 252);
}

#topbar {
  width: 100%;
  height: 100px;
  background-color: rgb(247, 247, 252);
  display: none;

  .top-logo {
    margin: 40px 40px 10px 40px;
    height: 50px;
  }
}

#main-container {
  display: flex;
  flex-direction: row;

  #sidenav {
    width: $nav-width;
    padding: $nav-padding;
    min-height: calc(100vh);
    background-color: rgb(34, 46, 60);
    display: flex;
    flex-direction: column;

    .top-logo {
      height: 50px;
      width: 160px;
      margin-bottom: 25px;
    }

    a {
      font-size: 15px; 
      line-height: 2.5em;
      text-decoration: none;
      color: rgba(233,236,239,.5);
      margin-bottom: 5px;
      align-items: center;
      display: flex;

      &.open-close-btn {
        display: none;
      }

      .material-icons {
        margin-right: 10px;
      }
    }
  }

  #main {
    width: calc(100% - #{$nav-width});
    background-color: rgb(247, 247, 252);
    padding: $nav-padding;

    #top-nav {
      height: 70px;
      background-color: #fff; 
      margin: -40px 0 40px -40px;
      width: calc(100% + 2 * 40px);
      box-shadow: rgba(33, 37, 41, 0.1) 0px 0px 32px 0px;
    }
  }
}

.open-close-btn {
  display: none; 
}

@media only screen and (max-height: 812px) {
  #topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;

    .top-logo {
      margin: 5px 20px 5px 20px;
      height: 50px;
    }

    a {
      font-size: 20px; 
      text-decoration: none;
      color: $dark-grey;
      margin-left: 20px;
    }
  }
  #main-container {
    #sidenav {
      width: 100%;
      display: none;
      padding: 20px;

      a.open-close-btn {
        display: flex;
      }
    }
    #main {
      width: 100%;
    }
  }

  .open-close-btn {
    display: flex; 
  }
}
