@import "variables";
@import "year_calendar";
@import "pdf";

$nav-width: 270px;
$nav-padding: 40px;

html {
  background-color: $backgroundDefault;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

p {
  font-size: 1em;
}

.dvzo-25 th:first-child {
  width: 25%
}

.dvzo-50 th:first-child {
  width: 50%
}

.dvzo-75 th:first-child {
  width: 75%
}

.create-update {
  font-size: 0.7em;

  td {
    padding-right: 5px;
  }
}

table.table-dashboard {
  tr {
    td {
      vertical-align: top;
      white-space: nowrap !important;
    }
  }
}

tbody a {
  text-decoration: none;
}

.dvzo-header {
  font-size: 1.5em;
}

.card-title {
  font-size: 1.5em;
}

svg.svg-inline--fa {
  padding-right: $fa-icon-space-right;
}

.tinymce-textarea {
  background-color: $backgroundWhite;
}

body {
  font-size: .875rem;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;

  /* rtl:raw:
  right: 0;
  */
  bottom: 0;

  /* rtl:remove */
  left: 0;
  z-index: 100;

  /* Behind the navbar */
  padding: 48px 0 0;

  /* Height of navbar */
  box-shadow: $boxShadowDefault;
}

@media (max-width: $mobileViewportBreakpoint) {
  .sidebar {
    top: 2rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;

  /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: $navLinkColor;

  &.active {
    color: $navLinkActiveColor;
  }

  &:hover .feather, &.active .feather {
    color: inherit;
  }
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: $black25;
  box-shadow: $boxShadowDefault;
}

.navbar {
  .navbar-toggler {
    top: .25rem;
    right: 1rem;
  }

  .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
}

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: $lighter-grey;
  background-color: transparent;
  border: 0;

  &:hover, &:focus {
    color: $lighter-grey;
    background-color: $navLinkActiveColor;
  }

  &::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgb%28220,220,220%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
  }

  &[aria-expanded="true"] {
    color: $lighter-grey;

    &::before {
      transform: rotate(90deg);
    }
  }
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;

  &:hover, &:focus {
    background-color: $navLinkFocusColor;
  }
}

.bg-warning-light {
    background-color: $warningLight;
}

.bg-danger-light {
  background-color: $dangerLight;
}
