@import "variables";
@import "year_calendar";

$nav-width: 270px;
$nav-padding: 40px;

html {
  background-color: $backgroundDefault;
}

.white-container {
  background-color: $backgroundWhite;
  border-radius: 2px;
  box-shadow: $boxShadowDefault;
  box-shadow: $boxShadowDefault;
  padding: 20px;
}

#topbar {
  background-color: $backgroundDefault;
  display: none;
  height: 100px;
  width: 100%;

  .top-logo {
    height: 50px;
    margin: 40px 40px 10px 40px;
  }
}

#main-container {
  display: flex;
  flex-direction: row;

  #sidenav {
    background-color: $backgroundSideBar;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh);
    padding: $nav-padding;
    width: $nav-width;

    .top-logo {
      height: 50px;
      margin-bottom: 25px;
      width: 160px;
    }

    a {
      align-items: center;
      color: rgba(233,236,239,.5);
      display: flex;
      font-size: 15px; 
      line-height: 2.5em;
      margin-bottom: 5px;
      text-decoration: none;

      &.open-close-btn {
        display: none;
      }

      .material-icons {
        margin-right: 10px;
      }
    }
  }

  #main {
    background-color: $backgroundDefault;
    padding: $nav-padding;
    width: calc(100% - #{$nav-width});

    #top-nav {
      background-color: #fff; 
      height: 70px;
      margin: -40px 0 40px -40px;
      width: calc(100% + 2 * 40px);
    }
  }
}

.open-close-btn {
  display: none; 
}

@media only screen and (max-height: 812px) {
  #topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;

    .top-logo {
      margin: 5px 20px 5px 20px;
      height: 50px;
    }

    a {
      font-size: 20px; 
      text-decoration: none;
      color: $dark-grey;
      margin-left: 20px;
    }
  }
  #main-container {
    #sidenav {
      width: 100%;
      display: none;
      padding: 20px;

      a.open-close-btn {
        display: flex;
      }
    }
    #main {
      width: 100%;
    }
  }

  .open-close-btn {
    display: flex; 
  }
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

p {
  font-size: 1em;
}

.dvzo-25 th:first-child {
  width: 25%
}

.dvzo-50 th:first-child {
  width: 50%
}

.dvzo-75 th:first-child {
  width: 75%
}

tbody a {
  text-decoration: none;
}

.dvzo-header {
  font-size: 1.5em;
}

.card-title {
  font-size: 1.5em;
}

svg.svg-inline--fa{
  padding-right: $fa-icon-space-right;
}
