$backgroundDefault: rgb(247, 247, 252);
$backgroundSideBar: rgb(34, 46, 60);
$backgroundWhite: #fff;
$dvzoColor: #ed174b;
$warningLight: #ffc10780;
$dangerLight: #dc354596;

$boxShadowDefault: rgba(33, 37, 41, 0.1) 0px 0px 32px 0px;


$blue: rgb(51, 102, 153);
$dark-grey: rgb(102, 102, 102);
$light-grey: rgb(153, 153, 153);
$lighter-grey: rgb(220, 220, 220);

$yearCalendarSunday: #ed174b;
$yearCalendarExtra: #6a99e6;
$yearCalendarOther: grey;

$fa-icon-space-right: 5px;
