{% extends "base.html" %}
{% load i18n %}

{% block title %}{% endblock %}

{% block content %}

<div class="dvzo-container">
  <div class="dvzo-header">
    Permission denied
  </div>

  <div class="dvzo-content">
    <div class="row">
      <div class="col">
        <div class="card my-2">
          <div class="card-body">
            <div class="card-text">
              Sie haben keine Berechtigung, diese Aktion auszuführen.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
