{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'main.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'auxiliary.min.css' %}" type="text/css">
  <link rel="shortcut icon" type="image/png" href="{% static 'assets/lok.svg' %}"/>
  <title>{% translate "app.title" %}{% block title %}{% translate "app.title.placeholder" %}{% endblock %}</title>

</head>
<body>


<div class="container-fluid">
  <div class="row">
    {% include 'includes/top_navigation.html'%}
    {% include 'includes/side_navigation.html'%}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 pt-3">

        {% block content %}{% endblock %}
    </main>
  </div>
</div>


<script src="{% static 'index-bundle.js' %}"></script>
{% block scripts %}{% endblock scripts %}
</body>
</html>
