version: "2"
networks:
  dvzo_net:
    driver: bridge
services:
  dvzo_container:
    image: osswald/dvzo:latest
    container_name: dvzo_container
    restart: unless-stopped
    environment:
      - SECRET_KEY={{ dvzo_app.secret_key }}
      - DEBUG=False
      - ALLOWED_HOSTS=dvzo.app
      - DB_NAME={{ dvzo_database.db_name }}
      - DB_USERNAME={{ dvzo_database.user }}
      - DB_PASSWORD={{ dvzo_database.password }}
      - DB_HOSTNAME=dvzo_database
      - DB_PORT=5432
    networks:
      - dvzo_net
    ports:
      - 8000:8000
    expose:
      - 8000
  dvzo_database:
    image: postgres:13.2
    container_name: dvzo_database
    restart: unless-stopped
    environment:
      - POSTGRES_USER={{ dvzo_database.user }}
      - POSTGRES_PASSWORD={{ dvzo_database.password }}
      - POSTGRES_DB={{ dvzo_database.db_name }}
    networks:
      - dvzo_net
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - 5432:5432
volumes:
  db-data:
    driver: local
